/* create_product.css */
:root {
    --green:#27ae60;
}
.create-product-form {
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 20px;
}

.create-product-row {
  display: flex;
  align-items: center;
}

.create-product-row label {
  margin-right: 10px;
}

.description-label{
  align-self: flex-start;
}

.create-product-input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px; /* Общий стиль для обоих элементов */
  background-color: transparent;
  color: white;
}

.create-product-textarea {
  min-height: 100px; /* Минимальная высота textarea */
  resize: vertical; /* Разрешение вертикального изменения размера */
}


/* Your existing styles here */

#image-upload-container {
  margin-top: 20px;
  text-align: center;
}

#image-upload-input {
  display: none; /* Скрыть стандартную кнопку загрузки файла */
}

#image-upload-label {
  padding: 10px 15px;
  background-color: #27ae60;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}

#image-upload-label:hover {
  background-color: #218f52; /* Изменение цвета при наведении */
}

#uploaded-image {
  max-width: 100%;
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.image-container {

  position: relative;
  overflow: hidden;
}

.image-container img {

    object-fit: cover;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;

  width: 100%; /* Пример: уменьшить ширину изображения до 50% ширины контейнера */
  height: auto; /* Сохранить пропорции изображения */
}

.form-wrapper {
  flex: 1;
  overflow-y: auto;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.58);
  border-radius: 20px;
}

.create-product-form {
  max-width: 400px;
  margin: auto;
}

/* Добавьте остальные стили формы, как вам нужно */


.create-product-controls-footer {
  width: 100%;
  background-color: transparent; /* Прозрачный фон */
  z-index: 1000;
  bottom: 0;
  margin: 10px;
}

.create-product-controls-footer a {
  float: left;
  text-align: center;
  width: 20%;
}

.create-product-controls-footer i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%; /* Круглый элемент */
}

.save-btn{
  transition: all 0.3s ease;
  color: white;
  background-color: #3953f8;
}
