/* create_product.css */

.create-product-form {
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: transparent;
  border: 1px solid white; /* Цвет границы формы */
  border-radius: 10px;
}

.create-product-row {
  display: flex;
  align-items: center;
}

.create-product-row label {
  margin-right: 10px;
  align-self: flex-start; /* Выравнивание label к верху */
}

.create-product-input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px; /* Общий стиль для обоих элементов */
  background-color: transparent;
  color: white;
}

.create-product-textarea {
  min-height: 100px; /* Минимальная высота textarea */
  resize: vertical; /* Разрешение вертикального изменения размера */
}

.create-product-button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: green;
  color: white;
  cursor: pointer;
}

/* Your existing styles here */

#image-upload-container {
  margin-top: 20px;
  text-align: center;
}

#image-upload-input {
  display: none; /* Скрыть стандартную кнопку загрузки файла */
}

#image-upload-label {
  padding: 10px 15px;
  background-color: #27ae60;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}

#image-upload-label:hover {
  background-color: #218f52; /* Изменение цвета при наведении */
}

#uploaded-image {
  max-width: 100%;
  margin-top: 20px;
}
